<!-- Footer -->
<footer class="page-footer font-small bg-light pt-4 team4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold" style="text-align: center"><img src="assets/imgs/DevOpsLateral.png"
            height="100"></h6>
        <p>Com anos de experiência no mercado de tecnologia, a DevOps é especializada no desenvolvimento de
          softwares que simplificam e otimizam a gestão de empresas.
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Produtos</h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contato</h6>
        <p>
          <mdb-icon fas icon="home" class="mr-3"></mdb-icon> Lorem ipsum
        </p>
        <p>
          <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> comercial@devops.com.br
        </p>
        <p>
          <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> 61 9999 9999
        </p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2020 Copyright:
          <a href="https://mdbootstrap.com/">
            <strong> MDBootstrap.com</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->


    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->